.company-content {
    padding: 45px 52px 50px 24px;
    display: flex;
}
.company-first {
    margin-right: 23px;
    padding: 46px 30px;
    max-width: 820px;
    border: 1px solid #838080;
    border-radius: 15px;
}
.company-first-head {
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #C4C4C4;
}
.company-profile-photo{
    margin-right: 33px;
    border-radius: 150px;
    border: 1px solid grey;
    max-width: 138px;
    min-height: 138px;
}
.company-head-desc {
    margin-right: 149px;
    display: flex;
    flex-direction: column;
}
.company-head-age{
    margin-bottom: 2px;
}
.company-head-name {
    font-weight: 700;
    font-size: 30px;
}
.company-redact-btn {
    background: #9400DA;
    border:1px solid #9400DA;
    border-radius: 4px;
    padding: 9px 9px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}
.body-company a {
    font-weight: 400;
    font-size: 18px;
    color: #9400DA;
}
.company-body-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom:5px;
}
.company-body-input {
    border: 1px solid #C4C4C4;
    padding-bottom: 430px;
    min-width: 800px;
    font-weight: 400;
    font-size: 18px;
}
.company-body-way {
    border: 1px solid #C4C4C4;
    min-width: 800px;
    font-weight: 400;
    font-size: 18px;
    min-height: 100px;
}
.body-company {
    position: relative;
}
.company-pencil {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}
.company-second{
    min-width: 418px;
    padding: 70px 30px;
    border: 1px solid #838080;
    border-radius: 15px;
}
.company-add-vacancy {
     font-weight: 400;
    font-size: 18px;
    color: #9400DA;
    cursor: pointer;
}
.company-add-vacancy:active{
    font-size: 15px;
    transition-duration: 500ms;
}