

.vacancies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.vacancyBlock {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 400px;
    border: 2px solid #9400DA;
    border-radius: 8px;
    background: #9400DA;
}
.vacancyTitleContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:15px;
    position: relative;
    z-index: 0;
}
.titleStar {
    max-width: 50px;
}
.vacancyTitle {
    display: inline-block;
    color: yellow;
    padding:5px;
    background:#9400DA;
    font-size: 25px;
    border: 1px solid #9400DA;
    border-radius: 10px;
    max-width:350px;
}
.vacancyPlace,.vacancyCity {
    margin-bottom: 15px;
    font-size: 18px;
    color:yellow ;
}
.vacancyDesc {
    line-height: 25px;
    font-size: 18px;
    color:yellow ;
    margin-bottom: 15px;
}
.vacanciesButton {
    display: flex;
    justify-content: center;
}
.vacancyBtn {
    padding: 10px 15px;
    margin-right: 25px;
    background: transparent;
    border: 2px solid yellow;
    border-radius: 8px;
    color: yellow;
    font-size: 16px;
}