
.homePage {
    display: flex;
}
.sidebar_name {
    padding-top: 48px;
    min-width:480px;
    background: #FFFFFF;
    border-right: 1px solid #C4C4C4;
}
.sidebarSearch {
    margin-left: 52px;
    margin-bottom: 33px;
}
.sidebar_title {
    font-weight: 700;
    font-size: 19px;
}
.submenu-list {
    padding-top: 10px;
    padding-left: 0;
}
.sidebar_menu {
    display: flex;
}
.sidebar_submenu {
    padding-left: 0;
}
.sidebar_menu li {
    list-style: none;
    cursor: pointer;
}
.linkFirst {
    float: left;
    padding-left: 40px;
}
.sidebar_menu_list {
    margin-left: 100px;
}
.sidebar_menu_list li {
    margin-bottom: 25px;
}
.sub-submenu-list {
    padding-top: 15px;
}
.sidebar-link {
    display: flex;
    align-items: center;
    color: #2C2C2C;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    flex-wrap: wrap;



}
.sidebar_arrow {
    margin-left: 5px;
}

.sidebar_salary_number {
    padding:10px 12px;
    background: transparent;
}

